{#
/**
 * @file
 * Default theme implementation for commerce reaction email template.
 *
 * Available variables:
 * - message: The email message.
 * - context: The objects array.
 * - reaction: The commerce reaction.
 *
 * @ingroup themeable
 */
#}
{{ message }}
